.Navbar_Cover {
    display: flex;
    font-family: "Poppins", sans-serif;
background: var(--background);
}

.ri_content {
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 280px;
    /* background: url(https://github.githubassets.com/images/modules/site/home/repo-editor-glow.svg) no-repeat;
    background-size: 200%;
    
    backdrop-filter: blur(67px); */
    height: 170vh;

}


.Bottom-Content {
    width: 100%;
    height: 100%;
}

.Bottom-Content a {
    text-decoration: none;
    color: #000;

}

.bottom_Dashboard_after{
    height: 100vh;
}

/* Mobile  */
@media only screen and (max-width:799px) {
    .ri_content {
        margin-left: 0;
        width: 100%;
    }

    .Bottom-Content {
        display: flex;
        flex-direction: column;
    }
    .bottom_Dashboard_after{
        width: 95%;
    }
    
}