.Navbar_Cover{
    display: flex;
    font-family: "Poppins", sans-serif;

}

.ri_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 280px;
}

.Bottom-Content{
    width: 100%;
    height: 100%;
}
.Bottom-Content a{
        text-decoration: none;
        color: #000;

}