.outer-blogs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 922px;
    /* background-color: #D4C18F; */
    justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; 
}

.blogs{
width: 86%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 745px;
}
.top-blogs{
   width: 100%;
    justify-content: flex-start;
}
.top-blogs h2{
    margin: 0;
    text-align: left;
    font-size: 48px;
}
.top-blogs p{
    max-width: 470px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #b4b4c7;
    margin: 0 0 60px 0;
}
.bottom-blogs{
    width: 101%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.viewAll{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}
.viewAll button{
    padding: 12px 24px 12px 24px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
}
/* Mobile  */
@media only screen and (max-width:799px) {
    .bottom-blogs{
        overflow-x: scroll;
        
    }
    .top-blogs h2{
        font-size: 32px;
        line-height: 40px;
    
    }
    .top-blogs p{
        max-width: 470px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #b4b4c7
    }
}
/* Mobile  */
@media only screen and (max-width:1440px) {
    .bottom-blogs{
        overflow-x: scroll;
        overflow-y: hidden;
    }
}