.Zero_premium{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
   border-radius: 10px;
   background: linear-gradient(45deg, black, transparent);
   color: #fff;
}
.contract-bar{
    width: 95%;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-cont input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
      background-color: #2E334A;
      
}
.content-buttons{
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
}
.content-buttons button{
    width: 150px;
    padding: 9px;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #10BB35;
    font-size: medium;
    cursor: pointer;
    color: #fff;
}
.actual-zeropremium{
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* border: 2px solid; */
    border-radius: 10px;
    flex-direction: column;
}
.zeropremiun-box{
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(45deg, black, transparent);
}
.supply{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.supply1{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 2px;
    border-radius: 10px;
   

}
.supply1 input{
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
 background-color: #2E334A;
 color:#757575
}
.supply2{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 2px;
    border-radius: 10px;
}
.supply2 input{
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #2E334A;
    border-radius: 10px;
    color: #757575;
}
.dir-button{
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10BB35;
}
.css-0 {
    color: white;
}
.outerzero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Mint{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.Mint button{
    width: 300px;
    height: 50px;
    border: 2px solid;
    font-family: 'Montserrat', sans-serif;
   font-size: medium;
   border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.Mint button:hover{
background-color: #2EA550;
color: #fff;
border:2px #2EA550
}
    /* Mobile  */
    @media only screen and (max-width:799px) {
  .zeropremiun-box{
    width: 100%;
  }
    }