.contractss span button {
    width: 150px;
    font-family: var(--font-poppins);
    height: 50px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
    background-color: #252A43;
}

.contractss span button img {
    width: 20px;
}

.contractss {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contractss h5 {
    margin-left: 80px;
    font-size: 20px;
    font-weight: 500;
    color: #757575;
}

.contractss span {
    margin-right: 65px;
    display: flex;

}

.contractss img {
    margin-right: 10px;
}

.swap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}
.stake-topp{
    display: flex;
    color: #fff;
    width: 90%;
    
}
.stake-topp h3{
    font-size: 20px;
    margin: 0;
}
.stake-top-titlee{
        padding: 25px 25px 5px 25px;
            width: 70%;
}
.stake-boxx{
    width: 45%;
        border-radius: 10px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            border: 1px solid #30363D;
        /* height: 340px; */
        overflow: hidden;
        background: var(--color-dashboard-boxes);
border: 1px solid var(--color-box-border);
box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
}

/* Mobile  */
@media only screen and (max-width:799px) {
    .contractss h5 {
        display: none;
    }

    .contractss span {
        margin-right: 0;
        align-self: flex-end;
        flex-direction: row;
        justify-content: flex-end;
        width: 95%;
    }
    .swap{
        flex-direction: column;
    }
    .stake-boxx{
        width: 85%;
    }
}