.Community{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #fff;
}

.top-community{
  display: flex;
  width: 80%;
  height: 400px;
}

.top-community-left{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}



.top-community-left-top{
  display: flex;
    width: 315px;
    justify-content: space-between;}

.top-community-left-top-left img{
width: 90px;
height: 90px;
object-fit: contain;
border-radius: 100%;
}

.top-community-left-top-right{
 display: flex;
 flex-direction: column;
text-align: left;

}
.top-community-left-top-right h1{
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 300;
  margin: 0;
  line-height: 65px;
}

.top-community-left-top-right h2 {
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 500;
  margin: 0;
  line-height: 10px;
}

.top-community-content{
  max-width: 615px;
}
.top-community-content p{
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 200;
}

.top-community-right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.perks{
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  background-color: #1e1e1e;
 padding-left: 10px;
 padding-right: 10px;
}

.risk-rating{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.risk-rating button{
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
  color: #fff;
  background-color: var(--Green-buttons);
}

.protocol-code-quality,.maturity,.protocol-design{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #363636;
}

.protocol-code-quality button,
.maturity button,
.protocol-design button {
  border: none;
  border-radius: 2px;
  font-family: "Poppins";
  color: #fff;
  background-color: var(--Green-buttons);
  padding: 4px;
}

.bet-community {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.bet-community-left{
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
align-items: flex-start;  
}


.bet-community-left-top h1{
font-weight: 300;
}
.bet-community-left-top{
  width: 615px;
}
.bet-community-left-end{
    width: 815px;
}
.bet-community-left-end h2{
  font-size: 16px;
  font-weight: 500;
}
.bet-community-left-end p{
    font-family: "Poppins";
      font-size: 14px;
      font-weight: 200;
      color: #757575;
}

.bet-community-right {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.bot-community{
  display: flex;
  flex-direction: column;
}
