.Community {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    height: 100vh;
}

.top-community {
    display: flex;
    align-items: center;
    width: 90%;
    align-items: center;
    height: 500px;
}

.left-community {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statics-container {
    display: flex;
    flex-direction: column;
    width: 275px;
    box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
    padding: 20px;
    border-radius: 10px;
}

.top-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-stats button {
    font-family: "Poppins";
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #cecece;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bet-stats {
    display: flex;
    flex-direction: column;
}

.top-bet-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.end-bet-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.right-community {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bot-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bet-stats img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.top-bet-stats-right {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 60px;
    color: var(--Green-buttons);
}

.top-bet-stats-right span {
    display: flex;
    align-items: center;

}

.end-bet-stats-right {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 60px;
    color: var(--Green-buttons);
}

.end-bet-stats-right span {
    display: flex;
    align-items: center;

}

.data-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.data-container-top{
    width: 85%;
    background: linear-gradient(77deg, rgb(0, 100, 236) 0%, rgb(51, 170, 255) 100%);       flex: 1;
    border-radius: 10px;
    padding: 20px;
        box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
        margin: 10px;
        
}
.data-container-end{
    width: 85%;
    flex: 1;
    margin: 10px;
        box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
            border-radius: 10px;
                padding: 20px;
}

.data-container-top-t{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    
}

.data-container-top-t img{
   /* filter: invert(); */
   width: 80px;
   height: 80px;
}
.data-container-end-e{
    color: #fff;
}