.ZeroModal{
    width:450px;
    display: flex;
    
    align-items: center;
 justify-content: flex-start;
 align-items: center;
 color: var(--color-primary-text);
 background: var(--color-dashboard-boxes);
     border: none;
    padding: 15px;
    border-radius: 10px;
    font-family: var(--font-poppins);
    overflow: hidden;
    transition: 0.3s;
}
.zero1{
    width:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
 justify-content: center;
 align-items: center;
 margin-right: 15px;
}
.zero2{
    width:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
 justify-content: center;
 align-items: center;
}
.ZeroModal-top{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}
.ZeroModal-top h2 {
    display: flex;
    font-weight: 200;
}
.ZeroModal-top h2 svg{
margin-right: 5px;
cursor: pointer;
}

.ZeroModal-bet{
    width:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #757575;
}
.ZeroModal-bet input{
    width: 450px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--font-poppins);
    border: none;
    background-color: var(--color-placeholder-color);
    color: #757575;
}
.ZeroModal-Bot{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}
.Contracts-Need{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Contracts-Need img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: contain;
    margin-right: 20px;
}
.Cont{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
   
    color: var(--color-primary-text);
       cursor: pointer;
}
.Cont:hover{
    background-color: var(--color-placeholder-color);
}
.ZeroModal-top span{

    cursor: pointer;
}
.ReactModal__Content .ReactModal__Content--after-open{
    width: 450px;
    background-color: transparent;
    
}