.DashBoard_Boxes {
    width: 95%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.box-dashboard {
    height: 150px;
    width: 275px;
    padding: 0px 40px 0px 40px;
    margin: 20px 0px 20px 40px;

    border-radius: 10px;
    background: var(--Dashboard-boxes);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
}

.box-dashboard h4 {
    font-size: 15px;
    margin: 20px 0 15px 0;
    color: var(--tertiary-text);
}

.box-dashboard h3 {
    font-size: 30px;
    margin: 0;
    color: var(--primary-text);
    width: 100%;
    display: flex;
}

/* Mobile  */
@media only screen and (max-width:799px) {
    .DashBoard_Boxes {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .box-dashboard {
        margin: 20px 0 0 0;
        width: 280px;
    }
}

.DashboardBoxes {
    width: 100%;
    height: 160px;
    background-color: var(--color-dashboard-boxes);
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        border: 1px solid #30363D;
}

.b1,
.b2,
.b3,
.b3 {
    width: 25%;
    border-right: 2px solid var(--color-border);
}

.b2,
.b3,
.b3,
.b4 {
    color: var(--color-primary-text);
}

.b1 {

    background-color: var(main-box);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: var(--color-primary-text);
}

.b2,
.b3,
.b4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.b1In {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90%;
    height: 100%;
}

.border {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #000;
    margin: 0 10px 0 0px;
}

.info {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.info svg {
    cursor: pointer;
}

.topB {
    display: flex;
    align-items: center;

}

.midB h3 {
    font-size: 30px;
    margin: 0;
    font-family: var(--font-poppins);
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 5px;
}

.b1 h4 {
    font-size: 15px;
    color: #10BB35;
}

.botB {

    display: flex;
     color:#8b949e;
}

.botB p {

    font-size: 13px;
    display: flex;
    align-items: center;
}

/* Mobile  */
@media only screen and (max-width:799px) {
    .DashboardBoxes {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .b1,
    .b2,
    .b3,
    .b4 {
        width: 100%;
    }

    .b1,
    .b2,
    .b3 {
        border: none;
    }

    .b1 {
        border-top-right-radius: 10px;
    }
}