.dao-sidebar{
    position: fixed;
    width: 600px;
    background-color: #fff;
    top: 0;
    right: -600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-poppins);    
            background-color: #161B22;
            transition: 0.3s;
}
.vote-top{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
   border-bottom: 2px solid #363636 ;
   color: #fff;
}
.vote-top h3{
    font-size: 25px;
    font-weight: 500;
}
.vote-top svg{
    cursor: pointer;
}

.vote-bet{
    display: flex;
    flex-direction: column;
    width: 95%;
    color: #fff;
    margin-top: 10px;
}

.user-address{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-address input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-poppins);
        border: 1px solid #30363D;
        background-color: #0D1117;   
         color: #757575;
}
.claim-id p{
    display: flex;
    align-items: center;
}
.claim-id p svg{
    margin-left: 5px;
    margin-right: 5px;
    color: #757575;
    cursor: pointer;
}
.insurance-methodlogy{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
.insurance-methodlogy svg{
    color: #ffce00;;
}

.claim-id{
    font-size: 13px;
    font-style: italic;
        margin-left: 10px;
            margin-top: 7px;
            color: #757575;
}
.vote-top-start{
    display: flex;
    align-items: center;
   justify-content: flex-end;
}
.insurance-category,.insurance-method,.protocol-id{
    cursor: pointer;
    padding: 15px;
    background-color: #262833;
    border-radius: 10px;    border: 1px solid #30363D;

}
.insurance-category:hover,.insurance-method:hover,.protocol-id:hover{
background-color: var(--color-green-button);
}
.claimAmount-Requested{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.claimAmount-Requested h4{
    align-self: flex-start
}
.claimAmount-Requested input{
        width: 96%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-family: var(--font-poppins);
            color: #757575;
            align-self: center;
                border: 1px solid #30363D;
        background-color: #0D1117;}
.claimAmount-Requested h4 svg, .stringProof h4 svg{
    margin-left: 5px;
        color: #757575;
        cursor: pointer;
}
.claimAmount-Requested h4, .stringProof h4{
    display: flex;
        align-items: center;
        font-weight: 500;
}
.stringProof{
        display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
}
.stringProof span img{
    width: 20px;
    margin-right: 5px;
}
.stringProof span{
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    background-color: #343434;
    border-radius: 5px;
}
.stringProof h4{
        align-self: flex-start
}
.stringProof textarea{
            width: 96%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-family: var(--font-poppins);
        background-color: #0D1117;         
           color: #757575;
            align-self: center;
                border: 1px solid #30363D;
}

.vote-bot{
width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    justify-content: flex-end;
}
.vote-bot button{
width: 40%;
padding: 15px;
 font-family: var(--font-poppins);
 border-radius: 10px;
 color: #fff;
 font-size: 17px;
background-color: var(--color-green-button);
cursor: pointer;
border: none;
margin-bottom: 10px;
}

.dao_content{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.DAO{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dao-top{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.dao-top button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: var(--font-poppins);
    cursor: pointer;
    color: #fff;
    background-color: var(--color-green-button);
    margin-bottom: 10px;
}

.dao-bottom{
    display: flex;
    flex-direction: column;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

.dao-bottom-top{
    display: none;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
.dao-bottom-top button{
padding: 10px;
color: #fff;
background-color: #1e1e1e;
border: none;
border-radius: 10px;
display: flex;
align-items: center;
cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.dao-bottom-top button svg {
    margin-right: 5px;
   
}
.dao-bottom-top input{
    border-radius: 10px;
    border: none;
    padding: 10px;
        font-family: 'Montserrat', sans-serif;
        color :#757575;
        background-color: #2E334A;
}