.insurancetypemodal {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #161B22;
    color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-poppins);
}

.top-insurancetype {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.top-insurancetype svg {
    cursor: pointer;
}

.bet-insurancetype {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bet-insurancetype input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--font-poppins);
    border: none;
    background-color: #0D1117;
    border: 1px solid #30363D;
}

.bot-insurancetype {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bot-insurancetype p {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.bot-insurancetype p:hover {
    background-color: #262833;

}