.outer-policy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.MyPolicies{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.internal-policy{
    width: 100%;
    margin: 20px;
    border: 2px solid;
    border-radius: 10px;
    background: linear-gradient(104.51deg, #def0fa 18.98%, #dae6ff 89.55%);
}
.react-tabs__tab--selected {
    background: transparent !important;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}
.policy-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.policy-title h2{
    margin-left: 20px;
    font-size: 40px;
}
.Policy-btns{
    margin-right: 10px;
}
.Policy-btns button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}
.Policies-chart{
    margin: 20px;
    border: 2px solid;
    border-radius: 10px;

}
.Policies-chart{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 0 -1px white, 10px 10px black;
    
}
.Policies-chart-top{
    display: flex;
    justify-content: space-around;
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom:2px solid;
   font-style: italic;
}
.Policies-chart-top li{
    list-style: none;
    font-size: 13px;
}
.Policies-chart-bet{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:2px solid;

}
.Policies-chart-bet p{
    width: 80px;
}
.Policies-chart-bet p button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
   cursor: pointer;
    background: linear-gradient(104.51deg, #def0fa 18.98%, #dae6ff 89.55%);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid;
}
.Policies-chart-bot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Policies-chart-bot button{
    background-color: transparent;
    border: none;
    margin: 0 10px 0 10px;
    cursor: pointer;

}
.Policies-chart-bot p{
    font-size: 13px;
}
.react-tabs__tab{

    border: none ;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}
.react-tabs__tab-list {
    border: none !important;
   
}
.react-tabs__tab--selected {
   
    border-bottom: 5px solid #000;
    
   
}
   /* Mobile  */
   @media only screen and (max-width:799px) {
    .policy-title{
        flex-direction: column;
    }
    .policy-title h2{
        margin-left: 0;
    }
    .Policy-btns{
        margin-right: 0;
    }
    .Policy-btns button{
        margin-right: 0;
        font-size: 10px;
    }
    .Policies-chart{
        width: 700px;
    }
    .react-tabs__tab-panel--selected {
        display: block;
        overflow: scroll;
    }
   }