.Connect_to_Wallet {
    padding: 20px 0px 25px 20px;
    margin: 25px;
    width: 90%;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(45deg, black, transparent);
    color: #fff;

}

.Connect_to_Wallet p {
    display: flex;
    align-items: center;
}

.Connect_to_Wallet button {
    padding: 10px;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #10BB35;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: #fff;
}

.Connect_to_Wallet button:hover {
    border: 1px #fff;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: rgb(183, 179, 179);
    border-radius: 100%;
    margin-right: 15px;

}

.innerdot {
    height: 8px;
    width: 8px;
    background-color: rgb(101, 100, 100);
    border-radius: 100%;

}

/* Mobile  */
@media only screen and (max-width:799px) {
    .Connect_to_Wallet {
        margin: 20px 0 0 0;
        justify-self: start;
        align-self: center;
    }

}