.outer-stake{
    display: flex;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.Stake{
    display: flex;
    width: 90%;
    border: 0.5px solid rgb(225, 223, 223);;
    border-radius: 10px;
    flex-direction: column;
}
.stake-bot{
    display: flex;
    justify-content: space-evenly;
}
.stake-box{
    width: 45%;
    border: 0.5px solid rgb(225, 223, 223);;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stake-top{
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(225, 223, 223);;
    width: 100%;
}
.stake_title{
    display: flex;  
     padding: 45px;
     align-items: center;
}
.stake_title h3{
 
    margin: 0;
}
.stake_title span{
    margin-left: 40px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.stake_title p{
    text-decoration: underline;
    margin-left: 10px;
}
.stake-top img{
    width: 20px;
    height: 20px;
    margin: 20px;
    
}
.stake-top h3{
    margin: 0;
}
.stake-top p{
    margin: 0;
    font-size: 13px;
}
.stake-top-title{
   width: 70%;
}
.eth img{
    width: 20px !important;
    justify-self: flex-end;
    align-self:flex-end;
}
.stake-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.stake-input-lim{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stake_input{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1efef;
}
.stake_input input{
    border: none;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
   width: 100%;
}
.stake-bott{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
}




.approve-szt{
    width: 80%;
    border: 2px solid #f1efef;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0px 0;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;

}
.transfer-szt{
    width: 80%;
    border: 2px solid #f1efef;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 50px 0;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;

}
.approve-szt:hover{
    background-color: #000;
    color:#fff;
}.transfer-szt:hover{
    background-color: #000;
    color:#fff;
}
.timeline{
width: 80%;
}
.timeline-line{
    width: 3px;
height: 80px;
background-color: #f1efef;
display: flex;
justify-content: center;
align-items: center;
}
.blob{

border-radius: 100%;

position: absolute;

}
.blob img{
    width: 18px;
    height: 18px;
}
   /* Mobile  */
   @media only screen and (max-width:799px) {
    .stake-bot{
        flex-direction: column;
    }
    .stake-box{
        width: 90%;
    }
    .stake-bot{
        justify-content: center;
        align-items: center;
    }
    .stake_title{
        flex-direction: column;
        align-items: flex-start;
    }
    .stake_title span{
        margin-left: 0;
        
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 30ch;
        display: flex;
    }
   }
   .stake-bott button{
    margin: 40px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #000;
    justify-self: start;
    align-self: flex-start;
   }