.outer-stake {
  display: flex;
  width: 100%;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-poppins);
  justify-content: space-between;
}

.Stake {
  display: flex;
  width: 100%;
  border: 1px solid var(--color-box-border);
  border-radius: 10px;
  flex-direction: column;
  background: var(--color-dashboard-boxes);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

.stake-bot {
  display: flex;
  justify-content: space-evenly;
}

.stake-box {
  width: 45%;
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 340px;
  overflow: hidden;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  background: var(--color-background);
border: 1px solid var(--color-box-border);
}

.stake-top {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #757575;
  width: 100%;
}

.stake_title {
  display: flex;
  padding: 45px;
  align-items: center;
  justify-content: space-between;
}

.stake_title h3 {
  font-size: 35px;
  margin: 0;
  color: var(--color-primary-text);
  font-weight: 200;
}

.stake_title span {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--color-tertiary-text);
}

.stake_title span h5 {
  margin-left: 10px;
  font-weight: 200 !important;
  color: #444444;
}

.stake-top img {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.stake-top h3 {
  margin: 0;
  color: var(--color-primary-text);
  font-weight: 300;
}

.stake-top p {
  margin: 0;
  font-size: 13px;
  font-style: italic;
  color: #757575;
}

.stake-top-title {
  width: 70%;
}

.eth img {
  width: 20px !important;
  justify-self: flex-end;
  align-self: flex-end;
  padding: 3px;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0 4px 30px rgb(0 0 0 / 25%);
}

.stake-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.stake-input button {
  background-color: var(--color-green-button);
}

.stake-input-lim {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
}

.stake_input {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-placeholder-color);
  height: 40px;
border: 1px solid var(--color-box-border);
  align-items: center;
}

.stake-input span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-poppins);
      padding: 0px 5px;
        background: #343434;
        color: #fff;
        border-radius: 5px;
        height: 25px;
        cursor: pointer;
}
.stake-input span img{
  width: 20px;
    margin-right: 5px;
  
}
.stake-input span p{
  margin: 0;
}
.stake_input input {
  border: none;
  background-color: transparent;
  font-family: var(--font-poppins);
  width: 100%;
  color: #757575;
}

.stake-bott {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  justify-content: space-around;
}
.stake-bott p{
  color: #fff;
}
.approve-szt {
  font-family: var(--font-poppins);
  width: 85%;
  border-radius: 10px;
  border: none;
  color: #fff;
border: 1px solid lime;
  background: var(--color-green-button);  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: medium;
  padding: 20px;
}

.transfer-szt {
  width: 85%;
  border: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px 0 50px 0; */
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  background-color: var(--color-green-button);
  border: 1px solid lime;
}

.approve-szt:hover {
  background-color: var(--color-green-button);
  color: #fff;
  /* border: 2px solid #10bb35; */
}



.timeline {
  width: 80%;
}

.timeline-line {
  width: 3px;
  height: 40px;
  background-color: var(--color-timeline);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  border-radius: 100%;

  position: absolute;
}

.blob img {
  width: 18px;
  height: 18px;
}

.stake-bott button {
  font-family: var(--font-poppins);

  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: var(--color-green-button);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: medium;
}

/* Mobile  */
@media only screen and (max-width: 799px) {
  .Stake {
    width: 100%;
  }

  .stake_title h3 {
    margin: 15px;
  }

  .stake-bot {
    flex-direction: column;
  }

  .stake-box {
    width: 90%;
    height: 350px;
  }

  .stake-bot {
    justify-content: center;
    align-items: center;
  }

  .stake-bott button {
    width: 140px;
  }

  .stake_title {
    align-items: center;
    padding: 15px;
  }

  .stake_title h3 {
    font-size: 25px;
  }

  .stake_title span {
    margin-left: 0;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 28ch;
    display: flex;
  }
}

.sell {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 10px;
  justify-self: start;
  align-self: start;
  flex-direction: column;
  text-align: left;
  height: 100%;
}

.sell h3 {
  margin-left: 45px;
  font-size: 20px;
  color: var(--color-primary-text);
  font-weight: 300;
}

.selectStake {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-placeholder-color);
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  border: 1px solid #30363D;
  justify-self: center;
  align-self: center;
  border: 1px solid var(--color-box-border);
}

.selectStake span {
  color: var(--color-primary-text);
      display: flex;
        align-items: center;
        justify-content: center;
        color: var(--font-poppins);
        padding: 0px 5px;
        background: #343434;
        color: #fff;
        border-radius: 5px;
        height: 25px;
        cursor: pointer;
      
}
.selectStake span img{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.selectStake input {
  border: none;
  background-color: transparent;
  font-family: var(--font-poppins);
  width: 100%;
  color: #757575;
}

.sell-button button {
  font-family: var(--font-poppins);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: var(--color-green-button);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: medium;
}

/* background: linear-gradient(45deg, black, transparent); */