.outer-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}
.Footer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Footer-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.foot-bot-left{
    display: flex;
}
.foot-bot-left p{
    font-size: 12px;
    font-weight: 400;
    margin: 24px 24px 24px 0;
}
.foot-bot-left li{
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    margin: 24px;
    text-decoration: underline;
}
.foot-bot-right{
    display: flex;
    margin: 24px -24px 24px 24px;
    justify-content: space-evenly;
    width: 150px;
}
.facebook, .instagram, .twitter , .linkdin{
    cursor: pointer;
}
/* Mobile  */
@media only screen and (max-width:799px) {
    .foot-bot-left li {
        display: none;
    }
    .foot-bot-left p {
        font-size: 10px;
       
     
    }
    .Footer-bottom{
        align-items: center;
    }
}