.outer-sell-stake{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}
.sell-stake{
    width: 95%;
    border: 0.5px solid rgb(225, 223, 223);;
    border-radius: 10px;
}
.transaction-Details{
    width: 100%;
    /* height: 100%; */

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y:scroll;
    overflow-x: hidden;
}
.transaction-Details h4 {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    margin: 0;
}
.buy-button{
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}
.sell-button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.time{
    width: 40%;
    height: 4px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
   color: #fff;
   font-size: 12px;
}
.time1{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}.time2{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-sell{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.sell-tit{
    width: 100%;
}
.sell-tit h3{
    font-size: 35px;
    padding: 45px;
    margin: 0;
}