.outer-sell-stake{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
}
.sell-stake{
    width: 95%;
    border: 0.5px solid rgb(225, 223, 223);;
    border-radius: 10px;
}
