.bott {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: Poppins, sans-serif;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 28px;
  border-bottom: 1px solid #312e41;
}

.foot-logo h1 {
  margin: 0;
}

.icons {
  padding: 0px 0 0 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 292px;
}

.icons img {
  cursor: pointer;
  filter: invert(52%) sepia(11%) saturate(593%) hue-rotate(215deg) brightness(84%) contrast(86%);
}

.foot-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}

.foot-buttons h5 {
  margin: 0;
}

.ufs {
  flex-direction: row;
  padding: 1.5px;
  border-radius: 10px;
  background-blend-mode: overlay;
  background: linear-gradient(115.26deg, #4010ff 4.79%, #67ffd5 99.36%),
    linear-gradient(119.78deg, #fff 5.43%, hsla(0, 0%, 100%, 0) 75.01%);
}

.ufs button {
  width: 100%;
  background: #0f0d1e;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 13px 32px;
  flex-direction: row;
  color: white;
  font-family: Poppins, sans-serif;
}

.bott span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 28px;
  margin-bottom: 61px;
  letter-spacing: 0.05em;
  color: #4d495d;
}

/* Mobile  */
@media only screen and (max-width:799px) {
  .foot-logo {
    display: none;
  }

  .foot-buttons h5 {
    display: none;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .icons {
    padding: 0;
    margin-top: 60px;
  }

  .bott span {
    max-width: 213px;
    text-align: center;
  }
}