.ActivityHistory {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.ActivityHistory-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.ActivityHistory-top input {
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--placeholder-color);
  color: #fff;
}

.ActivityHistory-bet {
  width: 95%;
  /* background-color: #1e1e1e; */
  border-radius: 30px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.ActivityHistory-bet h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
}
.ActivityHistory-bet p {
  font-size: 15px;
}
.transactionHistory {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #04fc0424;
  align-items: flex-start;
  margin-top: 10px;
}
.transactionHistory-left h3 {
  margin: 0;
  font-weight: 600;
  color: var(--Green-buttons);
}
.transactionHistory-left p {
  margin: 0;
}

.transactionHistory-mid p {
  margin: 0;
  font-size: 12px;
}

.transactionHistory-end-left-top p {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  color: var(--Green-buttons);
}
.transactionHistory-end-left-bot p {
  text-transform: uppercase;

  margin: 0;
  color: purple;
}
.transactionHistory-end-right p {
  font-style: italic;
  margin: 0;
  letter-spacing: 0.5px;
}

    #txhash {
      display: block;
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;
    }
    #details{
      padding: 10px;
      border: none;
      color: #fff;
      font-family: "Poppins";
      background-color: var(--Green-buttons);
      cursor: pointer;
      border-radius: 3px;
      font-size: 10px;
    }

    .front-container{
      display: flex;
      align-items: center;
    }
    .front-container img{
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-right: 10px;
    }