.Dashboard_after {
    /* margin-left: 25px; */
    margin-top: 20px;
    font-family: var(--font-poppins);

}

.top_Dashboard_after {
    display: flex;
}

.top_Dashboard_after .tab {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    color: var(--color-primary-text);
}

.react-tabs__tab--selected {
    border-bottom: 4px solid #30363D !important;
    transition: 0.1s ease-in-out;

}

.active #Policies {
    border-bottom: 5px solid;
}

.active #Liqidity {
    border-bottom: 5px solid;

}

/* Mobile  */
@media only screen and (max-width:799px) {
    .Dashboard_after {
        margin-left: 0;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}