.aside_content{
    max-width: 280px;
    width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        background-color: white;
        border-right: 0.5px solid rgb(225, 223, 223);
        transition: 0.2s ease-in-out;
        overflow-y: scroll;
    }
    
    .aside_content h1{
        text-align: center;
        font-weight: 400;
    }
    .aside_content li{
        font-family: 'Montserrat', sans-serif;

        display: flex;
        align-items: center;
        list-style: none;
        text-align: left;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        justify-content: flex-start;
        font-size: 16px;
      
    }
    .active li{
        background: linear-gradient(104.51deg, #def0fa 18.98%, #dae6ff 89.55%);        color: black;
        border: 2px solid;
    }  
    .active li:hover{
/* background-color: #000; */

    }
    .active button{
        color: rgb(0, 119, 255);    
    
    }

    .aside_content a{
        text-decoration: none;
        color: #000 !important;
        
    }
    .aside_content img {
       
        margin-right: 10px;
    }
    .aside_content  button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #000;
        background-color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        cursor: pointer;
        margin: 10px;
       width: 93%;
    }
    .aside_content button:hover{
        background-color: #000;
        color: white;
    }
    #connectt{
        display: none;
    }
    .buy-div{
        display: none;
        flex-direction: column;
        padding: 10px;
        margin: 0px 20px 20px 20px;
    }
    .buy-div p{
        font-size: 14px;
    }
    li span{
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;   
        margin-left: 70px;
    }
    li span img{
     width: 60px;
     height: 60px;
     object-fit: cover;
    }
    /* Mobile  */
@media only screen and (max-width:799px) {
    .aside_content{
        left: -300px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    #connectt{
         display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
    }
    /* #connectt span{
 
    } */
}