.topbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s ease-in;
  margin-top: 100px;
}

.topbox h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  text-align: center;
  letter-spacing: 1.5px;
  color: #757575;
  
}
/* .blob{
  width: 450px;
  height: 450px;
  position: absolute;
  background: linear-gradient(70deg,#F11D22, #FFA12C);
  z-index: -1;
  border-radius: 100%;
  filter: blur(50px);
  top: 31px;
    right: 900px;
    opacity: 0.8;
}.blob2{
  width: 315px;
  height: 315px;
  position: absolute;
  background: linear-gradient(247deg,#F11D22, #FFA12C);
  z-index: -1;
  border-radius: 100%;
  filter: blur(50px);
  top: 310px;
  right: 163px;
  opacity: 0.8;
} */
.topbox h1 {
  background: -webkit-linear-gradient(-70deg, #ff0299 0%, #0076ff 100%);
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone; 
  margin: 10px;
  font-size: 45px;
  line-height: 130%;

  letter-spacing: -1.5px;
  max-width: 900px;
}
/* .topbox h1 span{
 margin-left: 250px;
} */

.topbox h3 {
  color: #757575;
  font-size: 15px;
  font-weight: 500;
  margin: 30px 0 60px 0;
}

.topbox .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2px;
  border-radius: 10px;
  background-blend-mode: overlay;
  background: linear-gradient(-70deg, #db469f 0%, #2188ff 100%);

  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s ease-in-out;

}
.button a{
  text-decoration: none;

}
.button button {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 13px 32px;
  flex-direction: row;
  width: 100%;
  background: #0f0d1e;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: none;
}
.button:hover{
    transition: 0.5s ease-in-out;

  background: linear-gradient(-200deg, #db469f 0%, #2188ff 100%);

}

/* Mobile  */
@media only screen and (max-width:799px) {

  .topbox h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 110%;
    max-width: 400px;
  }

  .topbox h3 {
    font-weight: 400;
    letter-spacing: .2px;
    font-size: 11.5px;
    line-height: 24px;
    max-width: 300px;
  }

}