.alltopbar {
  background-color: #0C0B08;
  font-family: var(--font-kanit);
}

.topbar {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.left-side {
  margin-left: 5%;
}

.topbar-left img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.topbar-right {
  width: 90%;
  display: flex;
  color: #fff;
  z-index: 1;
}

.video {
  width: 100vw;
  height: 97vh;
  overflow: hidden;
}

.topbar-left img {
  width: auto;
  object-fit: contain;
  height: 100%;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  right: -600px;
  top: 0;
}

.nav-topbar {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--font-kanit);
}

.nav-topbar h1 {
  font-size: 32px;
  font-weight: 100;
  font-family: var(--font-comforta);
}

.menu {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  font-weight: 100;
}

.menu a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-topbar {
  margin-top: 25px;
}

.titlr {
  margin-top: 150px;
}

.titlr h2 {
  color: #757575;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

.titlr h1 {
  margin: 0;
  font-size: 55px;
  width: 750px;
  line-height: 55px;
  font-weight: 100;
}

.launch-app {
  margin-top: 50px;
}

/* .launch-app button {
  width: 200px;
  height: 60px;
  font-family: var(--font-poppins);
  border: none;
  border-radius: 30px;
  font-size: large;
  color: #fff;
  background-color: var(--color-green-button);
  font-weight: 100;
  cursor: pointer;
} */
.launch-app button {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  line-height: 50px;
  height: 60px;
  text-align: center;
  width: 350px;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-kanit);
  font-size: 20px;
  font-weight: 100;


}

.launch-app button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.launch-app button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.launch-app button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

.launch-app button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}



.topbar2 {
  display: flex;
  width: 100%;
  margin-top: 130px;
}

.topbar2-left {
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topbar2-left h1 {
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0;
  line-height: 55px;
}

.topbar2-left p {
  font-weight: 100;
  font-size: 20px;
  color: #757575;
  width: 424px;
  margin-top: 20px;
  margin-bottom: 20px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.topbar2-right {
  width: 50%;
}

.imh1 {
  perspective: 100px;
}

.imh1 img {
  width: 630px;
  /* height: 275px; */
  object-fit: contain;
  transform: translate(5%, 0px) rotateY(2deg);
  border-radius: 10px;
  /* box-shadow: rgba(3, 102, 214, 0.5) 0px 0px 0px 3px; */
}

.image-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topbar2-left button {
  font-family: var(--font-kanit);
  border: none;
  font-size: large;
  color: #fff;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  margin-top: 5px;
}

.topbar2-left button {
  display: flex;
  position: relative;
  color: #fff;
  align-items: center;
  font-weight: 100;
}

.topbar2-left button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topbar2-left button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.trust {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-top: 40px;
}

.trust h2 {
  font-weight: 100;
  color: rgb(255 255 255 / 56%);
}

.topbar3 {
  width: 100%;
  display: flex;
  margin-top: 150px;
}

.topbar3-left {
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar3-right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 65vh;
}

.imh2 {
  /* width: 301px; */
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 335px;
}

.imh2 img {
  /* width: 310px; */
  object-fit: contain;
}

.topbar3-left h1 {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 55px;
  margin-top: 0;
}

.topbar3-left p {
  font-weight: 300;
  font-size: 20px;
  color: #757575;
  width: 424px;
  margin-top: 10px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  font-weight: 100;
}

.topbar3-left button {
  font-family: var(--font-kanit);
  border: none;
  font-size: large;
  color: #fff;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  position: relative;
  color: #fff;
  align-items: center;
  font-weight: 100;
  margin-top: 25px;
}

.topbar3-left button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topbar3-left button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.plain {
  width: 900px;
}

.topbar4 {
  width: 100%;
  display: flex;
  margin-top: 125px;
  flex-direction: column;
}

.topbar4-left {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.topbar4-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 60px;
}

.toconomics {
  color: #fff;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
  background-color: #1e1e1e;
  cursor: pointer;
}

/* structure */
.d-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  height: 90vh;
}

.d-details {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 10vh;
}

details[open],
details summary,
.d-imgs {
  display: block;
  /* width: 500px !important; */
}

details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.5rem;
}

details summary:after {
  content: "+";
  font-size: 2rem;
  transition: 0.3s;
  transform: rotate(90deg);
}

/* transitions */
details {
  margin-bottom: 1rem;
  height: 4rem;
  transition: height 0.3s ease;
}

details[open] {
  height: 100%;
}

details p {
  height: fit-content;
  padding: 1rem;
  font-weight: 100;
}

details[open] summary:after {
  transform: rotate(-90deg);
}

.faq {
  width: 65%;
}

.faq h1 {
  margin-top: 0;
  font-weight: 100;
  font-size: 45px;
}

.outer-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-kanit);
  margin-top: 50px;
  background: var(--color-placeholder);
}

.footer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 50px;
}

.footer-top {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(156 156 156 / 16%);
  margin-bottom: 10px;
}

.div1 {
  flex: 2;
  align-items: flex-start;
}

.div1 h2 {
  font-weight: 400;
  font-family: var(--font-comforta);
  font-size: 40px;
  margin: 0;
}

.div1 p {
  font-size: 15px;
  font-weight: 100;
}

.div2 {
  display: flex;
  flex: 4;
  justify-content: space-evenly;
  align-items: flex-start;
}

.div2 h3 {
  font-weight: 400;
}

.div2 li {
  list-style: none;
  font-size: 14px;
  line-height: 40px;
  color: var(--color-tertiary-text);
  font-weight: 300;
}

.div3 {
  flex: 3;
}

.div3 h3 {
  font-weight: 400;
  margin-top: 0;
  font-weight: 200;
}

.div3 li {
  font-size: 14px;
  list-style: none;
  font-weight: 100;
}

.div3 p {
  font-size: 10px;
  color: var(--color-tertiary-text);
}

.div3 input {
  width: 350px;
  padding: 16px;
  margin: 10px 10px 10px 0px;
  font-family: var(--font-kanit);
  background-color: #0C0B08;
  border: none;
  border-radius: 10px;
  color: var(--color-tertiary-text);
}

.div3 button {
  border: none;
  font-family: var(--font-kanit);
  background: var(--color-green-button);
  cursor: pointer;
  color: #fff;
  padding: 16px;
  border-radius: 10px;
}

.subscribe-us {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.foot-bot-left {
  display: flex;
}

.foot-bot-left p {
  font-size: 14px;
  font-weight: 100;
  margin: 24px 24px 24px 0;
}

.foot-bot-left li {
  font-size: 14px;
  font-weight: 100;
  list-style: none;
  margin: 24px;
}

.foot-bot-right {
  display: flex;
  margin: 24px -24px 24px 24px;
  justify-content: space-evenly;
  width: 150px;
}

.foot-bot-right svg {
  fill: #fff;
}

.discord,
.twitter,
.linkdin {
  cursor: pointer;
}

/* Mobile  */
@media only screen and (max-width: 799px) {
  .footer-top {
    flex-direction: column;
  }


  .foot-bot-left {
    flex-direction: column;
  }

  .foot-bot-left li {
    margin: 5px 0 0 0;
    text-decoration: underline;
  }

  .div2 {
    justify-content: space-between;
  }
}