.slide1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 336px;
  padding: 1px;
  border-radius: 25px;
  /* margin-right: 60px; */
  background-blend-mode: overlay;
  background: linear-gradient(115.26deg, #4010ff 4.79%, #67ffd5 99.36%),
    linear-gradient(119.78deg, #fff 5.43%, hsla(0, 0%, 100%, 0) 75.01%);
}

.slide1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #141324;
  border-radius: 25px;
  letter-spacing: 0.5px;
  color: #b4b4c7;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.slide1-1 h4 {
  margin: 45px 0 16px;
  font-weight: 500;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 355px;
  height: 115px;
  padding: 0 29px;
  background: #232133;
  border: 1px solid #4c4768;
  box-sizing: border-box;
  border-radius: 25px;
  margin-top: -139px;
  z-index: 3;
}

.label img {
  width: 74px;
  aspect-ratio: auto 74 / 69;
  height: 69px;
}

.infoo {
  display: flex;
  flex-direction: column;
  color: white;
}

.infoo h3,
h6 {
  margin: 0;
  text-align: start;
}

.infoo h6 {
  font-size: 14px;
  font-weight: 400;
  color: #777187;
}

.infoo span {
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  color: #beb3ff;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #00ffb4;
  width: 20px;
  height: 0px;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #00ffb4;
  width: 20px;
  height: 0px;
  border-radius: 10px;
}

.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  visibility: hidden;
}

.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  visibility: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3d3760;
}

/* Mobile  */
@media only screen and (max-width:799px) {

  .slide1 {
    width: 81vw;
  }

  .slide1-1 {
    width: 80vw;
    padding: 0 2px;
  }

  .label {
    width: 70vw;
    height: 100px;
  }

  .infoo {
    margin-left: 5px;
  }

  .infoo h3 {
    font-size: 15px;

  }

  .slide1 h4 {
    font-size: 14px;
  }
}