.outer-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Login{
    width: 500px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    border: 2px solid;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Login img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 20px;
}
.Login h3{
    font-weight: 500;
}
.metamask{
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid;
    margin: 0px 25px 25px 25px;
    border-radius: 15px;
    cursor: pointer;
}
.wallet-connect{
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid;
    margin: 25px;
    border-radius: 15px;
    cursor: pointer;

}
.metamask:hover{
color: white;
background-color: black;
}.wallet-connect:hover{
color: white;
background-color: black;
}
.Close{display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 20px 0 20px 0;   
    justify-content: flex-end;
    align-items: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.Close img{
      width: 15px;
    height: 15px; 
}

   /* Mobile  */
   @media only screen and (max-width:799px) {
    .Login{
        width: 350px;
    }
    .Login h3{
        font-size: 18px;
    }
   }