.providecoveragemodal{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    padding: 20px;
background: var(--color-dashboard-boxes);
    color: var(--color-primary-text);
    border-radius: 10px;
    font-family: var(--font-poppins);
}
.providecoveragemodal h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
        font-weight: 100;
    
}
.providecoveragemodal h2 svg{
    cursor: pointer;
}
.providecoveragemodal input{
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 10px;
        font-family: var(--font-poppins);
background-color: var(--color-placeholder-color);
        color: #757575;
}
.providecoveragemodal button{
        padding: 10px;
        height: 30px;
            border: none;
            border-radius: 10px;
            height: 50px;
            margin-top: 30px;
            cursor: pointer;
                font-family: var(--font-poppins);
                color: #fff;
                background-color: var(--color-green-button);
}
.protocol-name{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.protocol-name h3, .protocol-name h4{
    font-size: 18px;
            font-weight: 100;
}

#minus{
    background-color: #ff0000a8;
}