.outer-coming {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
#rec{
    margin-top: 30px;
}
.Coming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.Coming h1 {
    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 70px !important;
    font-weight: bolder !important;
    margin: 0;
}

.Coming h4 {
    color: rgb(104, 104, 104);
    font-weight: 600;
    font-size: 18px;
    max-width: 595px;
}

.input-CS {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    width: 400px;
    background: linear-gradient(182.67deg,
            rgba(119, 113, 135, 0.15) -113.79%,
            rgba(119, 113, 135, 0) 238.53%);
    border: 1px solid #4c4768;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 0 16px 16px;
    border: 1px solid rgb(156, 156, 156);
}

.input-CS button {
    font-family: 'Libre Baskerville', serif;
    border-radius: 10px;
    background: #6e6e70;
    border: none;
    padding: 20px;
    color: #fff;
    width: 140px;
    font-weight: 500;
    cursor: pointer;
}

.input-CS button:hover {
    background: #545455;
}

.input-CS input {
    font-family: 'Libre Baskerville', serif;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #000;
    width: 100%;

}


textarea:focus,
input:focus {
    outline: none;
}

.Coming p {
    font-size: 14px;
    display: flex;
    align-items: center;
}
/* Mobile  */
@media only screen and (max-width:799px) {
    .Coming h1{
        font-size: 50px !important;
    }
    .Coming h4{
        font-size: 15px;
        max-width: 350px;
    }
    .Coming p{
        font-size: 12px;
    }
    .input-CS{
        width: 350px;
        
    }
    .input-CS input{
        font-size: 13px;
    }
    .input-CS button{
        width: 120px;
        font-size: 13px;
        padding: 0;
        height: 57px;
    }
}