.BuyPolicy{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.Contracts{
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.Contracts h5{
    margin-left: 60px;
    font-size: 18px;
    font-weight: 500;
}
.Contracts span{
    margin-right: 65px;
    display: flex;
   
}
.Contracts img{
    margin-right: 10px;
}
.ContractsList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    border-radius: 30px;
    width: 93.5%;
    height: 100%;
    border: 1px solid rgb(225, 222, 222);
}
.SearchContracts{
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(225, 222, 222);
    
}
.SearchContracts button img{
    width: 20px;
    height: 27.5px;
    padding: 5px;
}
.SearchContracts button{
        border-radius: 10px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

}
.contract-search{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    background-color: #F7F7F8;

}
.contract-search input{
    background-color: transparent;
    border: none;
    font-size: 14px;
   margin-left: 10px;
   width: 130px;
}
textarea:focus,
input:focus {
    outline: none;
}

.contract-search img{
    margin-left: 20px;
}
.Contract-All{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Cards - contract */

.Contract-Cards{
   width: 40%;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(225, 222, 222);;
    border-radius: 10px;
    margin: 25px;
    }
    .top-contract{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title-contract{
        display: flex;
        align-items: center;
    }
    .top-contract img{
        width: 15px ;
        height: 15px;
    }
    .title-contract img{
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-right: 15px;
    }
    .top-contract button{
       padding: 5px;
       border: 0.5px solid rgb(225, 222, 222);;
       border-radius: 9px;
       background-color: transparent;
       cursor: pointer;
    }
    .bet-contract p{
        display: flex;
        justify-content: space-between;
        /* width: 18.5vw; */
        font-size: 15px;
        font-weight: 500;
    }
    .bot-contract button{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: 2px solid;
        background-color: transparent;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        cursor: pointer;
    }
    .bot-contract button:hover{
    background-color: #000;
    color:#fff
    }

.Sort-section span{
display: none;
}
        /* Mobile  */
        @media only screen and (max-width:799px) {
            .SearchContracts {
                
                height: 140px;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
            }
            .contract-search{
                width: 100%;
            }
            .SearchContracts button{
                align-self: end;
            }
            .Contracts{
                display: none;
            }
            .Sort-section span{
                display:flex;
                }
                .Sort-section{
                    display: flex;
                    align-items: center;
                    width: 95%;
                    justify-content: space-between;
                    justify-self: center;
                    align-self: center;
                }
                .ContractsList{
                    margin-top: 30px;
                }
                .Contract-Cards{
                    width: 100%;
                }
                .contract-search input {
                    width: 100%;
                }
        }