/* Style for Scroll bar */
/* ---------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888872;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[data-rk] .ju367vbl {
  display: none;
  background: var(--rk-colors-profileForeground);
}