:root {
  --background: #101213;
  --primary-text: #fff;
  --secondary-text: #b4b4c7;
  --tertiary-text: #757575;
  /* main Gradient Color */
  --main-grad-color1: #000;
  --main-grad-color2: transparent;
  /* Placeholder Color */
  --placeholder-color: #2e334a;
  /* Green Buttons */
  --Green-buttons: #10BB35;
  /* home button */
  --Home-button: #0f0d1e;
  /* Hamburger */
  --hamburger: #aba8b7;

  /* buy-policy background */
  --buy-policy-background: rgb(20, 20, 22);
  /* zero-premium */
  --zero-premium-button: #3b4159;
  --timeline: #f0ebeb1e;
  --time: #fff;
  /* dashboard boxes  */
  --dashboard-boxes: #1e1e1e;
  --main-box: #1B2A21;
  --border: #363636;
  /* Available Insurances  */
  --box-color: #1e1e1e;
  --box-hover: #262833;
}

[data-theme='white'] {
  --background: #fff;
  --primary-text: #000;
  --secondary-text: #b4b4c7;
  --tertiary-text: #757575;

  /* main Gradient Color */
  --main-grad-color1: #fff;
  --main-grad-color2: transparent;
  /* buy-policy background */
  --buy-policy-background: #fff;
  /* Placeholder Color */
  --placeholder-color: #f1f1f1;
  /* zero-premium */
  --zero-premium-button: #fff;
  --timeline: #7a787838;
  --time: rgb(233, 233, 233);
  /* dashboard boxes  */
  --dashboard-boxes: #fff;
  --main-box: #fff;
  --border: #eeecec;
  /* Available Insurances  */
  --box-color: #fff;
  --box-hover: #f0f1f4;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
          background:var(--background);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


