/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

/* Poppins Font Import */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Poppins:wght@300;400;500&family=Roboto:wght@700&family=Spectral:wght@500&display=swap");
/* Comfortaa Font Import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Libre+Baskerville&family=Montserrat:wght@600&display=swap');

:root {
  /* Colours */
  --color-background: #010409;
  --color-primary-text: #fff;
  --color-secondary-text: #b4b4c7;
  --color-tertiary-text: #757575;
  --color-placeholder: #0D1117;
  --color-green-button: #10BB35;
  --color-home-button: #0f0d1e;
  --color-hamburger: #aba8b7;
  --color-zero-premium-button: #3b4159;
  --color-timeline: #f0ebeb1e;
  --color-time: #fff;
  --color-dashboard-boxes: #0D1117;
  --color-main-box: #1B2A21;
  --color-border: #363636;
  --color-box-color: #0D1117;
  --color-box-hover: #181e2a;
  --color-skeleton0:hsl(197, 8%, 18%);
  --color-skeleton100:hsl(204, 5%, 21%);
  /* Fonts */
  --font-poppins: "Poppins";
  --font-comforta: "Comfortaa";
}




body {
  margin: 0;
  padding: 0;
      background: var(--color-background);
}

[data-theme='white'] {
  /* Colours for white theme */
  --color-background: #fff;
  --color-primary-text: #000;
  --color-secondary-text: #b4b4c7;
  --color-tertiary-text: #757575;
  --color-placeholder-color: #f1f1f1;
  --color-zero-premium-button: #fff;
  --color-timeline: #7a787838;
  --color-time: rgb(233, 233, 233);
  --color-dashboard-boxes: #fff;
  --color-main-box: #fff;
  --color-border: #eeecec;
  --color-box-color: #fff;
  --color-box-hover: #f0f1f4;
  --color-skeleton0: hsl(200, 20%, 80%);
  --color-skeleton100: hsl(200, 20%, 95%);
}


/* This is for React Modals over written css, not to tamper with this */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  z-index: 1;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.803), rgba(0, 0, 0, 0.803)) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}