.transaction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.transaction a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.transaction-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60px;
    background-color: #E6FFED;
    padding: 5px;
    cursor: pointer;
}

.transaction-card:hover {
    background-color: #BCF6C9;
}

.transaction-card span {
    font-size: 10px;
}

.transaction-card p {
    font-size: 13px;
    margin: 5px 0 5px 0;
}